body{
      background-image:url("../images/WhatsApp image 2020-07-01 at 21.56.01.png");
      background-repeat: no-repeat;
      background-attachment:fixed;
      background-color: rgb(155, 196, 85);
}